* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

$color-primario: #64E788; // Azul

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("../resources/file.png");
        background-size: cover;
        /* Asegura que la imagen cubra todo el fondo */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        height: 100%;
        background-color: rgb(37, 35, 35);
        width: 100%;

        /* Evita que la imagen se repita */
        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            background-color: transparent;
            height: 80%;
            width: 60%;

            .sub_form {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;
            }

            #cont_url {
                width: 100%;
                height: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                span {
                    background-color: transparent;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bolder;
                    border-bottom: none;

                    &.activo {
                        border-bottom: 2px solid $color-primario ;
                    }

                }
            }

            .desac {
                display: none;
            }

            .cont_inputs {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                label {
                    width: 60%;
                    text-align: start;
                    color: $color-primario;

                }

                input {
                    width: 60%;
                    border-radius: 20px;
                    background-color: white;
                    height: 60px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        #btn_enviar_sesion {
            border-radius: 30px;
            width: 40%;
            height: 50px;
            background-color: $color-primario;
            font-size: 1.1em;
            font-weight: bolder;
            border: none;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
                background-color: #46a55f;
            }
        }

        #cont_registrar {
            height: 100%;
            width: 100%;
            
            .sub_form {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;
            }
            .desac {
                display: none !important;
            }
        }
    }
}