<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main>

        <section id="ventana_prin">

            <aside id="menu_lateral">
                <%-include('menu.ejs')%>
            </aside>
            <div id="cont_main" class="cont_main">
                <div id="cont_user">
                    <i class="fa-solid fa-gear"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
                <h2 id="nombre_us">Asesoramiento</h2>
                  <h3 id="subtitulo">Lista de expertos Disponibles</h3>
                    <div class="cont_profesional">
                        <div class="card">
                            <img src="./../public/resources/user.png" alt="Mariano Fernandez">
                            <h3>Mariano Fernandez</h3>
                            <p>Nutricionista Deportivo</p>
                            <button>Contactar</button>
                        </div>
                        <div class="card">
                            <img src="/public/resources/user.png" alt="Sebastian Cordera">
                            <h3>Sebastian Cordera</h3>
                            <p>Entrenador Personal</p>
                            <button>Contactar</button>
                        </div>
                        <div class="card">
                            <img src="/public/resources/avatar3.png" alt="Mariano Gimenez">
                            <h3>Mariano Gimenez</h3>
                            <p>Nutricionista Deportivo</p>
                            <button>Contactar</button>
                        </div>
                    </div>                  
            </div>
        </section>
    </main>


</body>

</html>