<article class="container_calendar">
    <div class="header_calendar">
        <h1 id="text_day">00</h1>
        <h5 id="text_month">Null</h5>
    </div>
    <div class="body_calendar">
        <div class="container_change_month">
            <!-- <button id="last_month">&lt;</button> -->
            <div>
                <span id="text_month_02">Null</span>
                <span id="text_year">0000</span>
            </div>
            <!-- <button id="next_month">&gt;</button> -->
        </div>
        <div class="container_weedays">
            <span class="week_days_item">DOM</span>
            <span class="week_days_item">LUN</span>
            <span class="week_days_item">MAR</span>
            <span class="week_days_item">MÍE</span>
            <span class="week_days_item">JUE</span>
            <span class="week_days_item">VIE</span>
            <span class="week_days_item">SÁB</span>
        </div>
        <div class="container_days">
            <span class="week_days_item item_day"></span>
        </div>
    </div>
</article>
<div class="" id="habit_tracker">
    <h3>Tu actividad de hoy:</h3>
    <ul id="item_list">
        <% results.forEach(actividad=> { %>
            <li class="item">
                <% if(actividad.MarcadorCumplido=="1" ){%>
                    <input type="checkbox" name="check" data-id="<%- actividad.ID_act %>" class="item_act" checked>
                    <span class="text_item tachado"><%- actividad.Objetivos %></span>
                    <%} else {%>
                        <input type="checkbox" name="check" data-id="<%- actividad.ID_act %>" class="item_act">
                        <span class="text_item "><%- actividad.Objetivos %></span>
                        <%}%>

            </li> 
            <% }) %>
                <div id="agregar">
                    <form method="post" action="/nueva_actividad" id="cont_agregar">
                        <div id="cont_inp">
                            <i class="fa-light fa-plus"></i>
                            <input id="info_act" name="info_act" type="text"
                                placeholder="Escriba el nuevo evento que quiere realizar:" required maxlength="100">
                        </div>

                        <input id="fecha_act" name="fecha_act" type="date" required>
                        <button id="btn_enviar_act" type="submit">Enviar</button>
                    </form>
                </div>
    </ul>


</div>