<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
</head>

<body>
    <main>

        <section id="ventana_prin">

            <aside id="menu_lateral">
                <%-include('menu.ejs')%>
            </aside>
            <section id="main_frases" class="main_sec ">
                <div id="cont_text_main">
                    <a href="/index">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <h2 id="nombre_us">Frases para comenzar mejor tu día</h2>
                </div>
                <div id="cont_frases_sub"></div>
            </section>
    </main>
    <script src="js/frases.js"></script>
</body>

</html>