<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Mental Strong</title>
  <link rel="stylesheet" href="css/estilo.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; connect-src 'self' https://api.spoonacular.com">
</head>

<body>
  <main>
    
    <section id="ventana_prin">

      <div id="menu_lateral">
        <img src="./resources/mental-strong.png" alt="">
        <ul id="cont_item">
          <li class="item" id="item_inicio">
            <span>Inicio</span>

          </li>
          <li class="item" id="item_nut">
            <span>Datos nutricionales </span>

          </li>
          <li class="item" id="item_progreso">
            <span>Progreso</span>
          </li>
          <li class="item" id="item_ase">
            <span>Asesoramiento</span>

          </li>
        </ul>
      </div>
      <div id="cont_main">
        <div id="cont_user">
          <img id="user_config" src="./resources/config.png" alt="config">
          <img id="user_img" src="./resources/avatar.png" alt="avatar">

        </div>

        <h2 id="nombre_us">Bienvenido 
          <%-user_name%>
        </h2>


        
        <div id="cont_secciones">
          <div id="sec_prin">
            <div class="" id="calendario">
              <%-include('calendario.ejs')%>
            </div>
            <div class="" id="habit_tracker"></div>
          </div>
          <div id="sec_secu">
            <div class="" id="recetas"></div>
            <div class="" id="racha"></div>
            <div class="" id="motivacion"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="estilos_regis.js"></script>
</body>

</html>