<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Mental Strong</title>
  <link rel="stylesheet" href="css/estilo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
  <main>

    <section id="ventana_prin">

      <div id="menu_lateral">
        <%-include('menu.ejs')%>
      </div>
      <div id="cont_main">
        <div id="cont_user">
          <img id="user_config" src="./resources/config.png" alt="config">
          <img id="user_img" src="./resources/avatar.png" alt="avatar">

        </div>

        <h2 id="nombre_us">Bienvenido
          <%-user_name%>
        </h2>


        <div id="cont_secciones">
          <div id="sec_prin">
            <div class="" id="calendario">
              <%-include('calendario.ejs')%>
            </div>
            <div class="" id="habit_tracker"></div>
          </div>
          <div id="sec_secu">

            <div class="" id="racha"></div>
            <div class="" id="motivacion"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="estilos_regis.js"></script>
  <script src="js/calendario.js"></script>
  <!--  <script src="js/recetas.js"></script> -->

</body>

</html>