<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section id="ventana_prin">
            <aside id="menu_lateral">
                <%- include('menu.ejs') %>
            </aside>

            <section id="main_recetas" class="cont_prog_main">
                <div id="cont_text_main">
                    <a href="/ejercio">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <h2 id="nombre_us">Lista de ejercicios</h2>
                </div>
                <ul id="cont_lista">



                </ul>
            </section>
        </section>
    </main>
    <script>

        const cont_lista = document.getElementById("cont_lista")
        const url = `https://wger.de/api/v2/exercisecategory/`
        fetch(url)
            .then((res) => res.json())
            .then((data) => {

                create_recetas(data)
            });


        function create_recetas(ejercio) {
            var i = 0;
            while (i < ejercio.results.length) {

                const cont_ejercio = document.createElement('a');
                const id_ejercio = ejercio.results[i].id;
                cont_ejercio.setAttribute('data-id', id_ejercio);
                cont_ejercio.classList.add('cont_ejercio');
                img_ejercio=document.createElement('img');
                // Convertimos el nombre a formato de archivo para buscar la imagen
                const id_name = ejercio.results[i].name.trim().replace(/\s+/g, '-').toLowerCase();
            
                img_ejercio.src = `resources/img_ejercicios/${id_name}.jpg`;
                cont_ejercio.style.backgroundSize = "cover";  // Asegura que la imagen cubra el contenedor
                cont_ejercio.style.backgroundPosition = "center"; // Centra la imagen

                const name = document.createElement('h3');
                name.classList.add('name_ejercio');
                name.textContent = ejercio.results[i].name;

                const link = document.createElement('a');
                link.classList.add('btn_receta');
                const ver_receta = document.createElement('span');
             
                const icon_arrow = document.createElement('i');
                icon_arrow.classList.add('fa-solid', 'fa-arrow-right');
                cont_ejercio.href = '/ejercio_focus/:' + id_ejercio;

                link.appendChild(ver_receta);
                link.appendChild(icon_arrow);
                cont_ejercio.appendChild(img_ejercio);
                cont_ejercio.appendChild(name);
                cont_ejercio.appendChild(link);

                cont_lista.appendChild(cont_ejercio);
                i++;
            }
        }

    </script>
</body>

</html>