<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Mental Strong</title>
  <link rel="stylesheet" href="css/estilo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="shortcut icon" href="../public/resources/mental-strong.ico" type="image/x-icon">
</head>

<body>
  <main>
    <section id="registro">
      <div id="cont_selec">
        <img src="./resources/mental-strong.ico" alt="Logo">

        <div id="cont_url">
          <span id="btn_registrar" class="desactivo">Registrarse</span>
          <span id="btn_iniciar" class="activo">Iniciar sesión</span>
        </div>
      </div>

      <form method="get" action="/iniciar" id="cont_iniciar" class="sub_form">
        <div class="cont_inputs">
          <label for="nombre_ini">Nombre de usuario o Email</label>
          <input id="nombre_ini" name="nombre_ini" type="text" placeholder="Escriba su nombre de usuario o Email"
            required maxlength="60">
        </div>
        <div class="cont_inputs">
          <label for="password_ini">Contraseña</label>
          <input id="password_ini" name="password_ini" type="password" placeholder="Escriba su Contraseña" required
            maxlength="60">
        </div>
        <button id="btn_ini_sesion" type="submit">Ingresar</button>
        <!-- Mostrar error si existe -->
        <% if (typeof error !=='undefined' ) { %>
          <span id="error_ini">
            <%= error %>
          </span>
          <% } %>
      </form>

      <form method="post" action="/enviar" id="cont_registrar" class="desac" enctype="multipart/form-data"
        data-opc="enviar_1">
        <span id="texto_regs"></span>

        <div id="datos_personales" class="sub_form">
          <div class="cont_inputs">
            <label for="nombre_usuario_regis">Nombre de usuario</label>
            <input id="nombre_usuario_regis" name="nombre_usuario_regis" type="text"
              placeholder="Escriba su nombre de usuario" required maxlength="60" class="input">
          </div>
          <div class="cont_inputs">
            <label for="email_regis">Email</label>
            <input id="email_regis" name="email_regis" type="email" placeholder="Escriba su email" required
              maxlength="60" class="input">
          </div>
          <div class="cont_inputs">
            <label for="password_regis">Contraseña</label>
            <input id="password_regis" name="password_regis" type="password" placeholder="Escriba su contraseña"
              required class="input">
          </div>
          <div class="cont_inputs">
            <label for="dni">DNI</label>
            <input id="dni" name="dni" type="number" placeholder="Escriba su DNI" required min="00000000" max="99999999" class="input">
          </div>

          <div class="cont_btn">
            <button id="btn_registrar_sesion" type="submit">Registrarse</button>
            <button class="btn_atras" type="button">Atrás</button>
          </div>
        </div>


      </form>
    </section>
  </main>
  <script src="js/estilos_regis.js"></script>
  <script>
    // parte de los addlisterner de el form
    const btn_iniciar = document.getElementById("btn_iniciar");
    const btn_registrar = document.getElementById("btn_registrar");
    const cont_registrar = document.getElementById("cont_registrar");
    const cont_iniciar = document.getElementById("cont_iniciar");
    //uso de las depencias para hashear contras


    //  registro
    btn_registrar.addEventListener("click", () => {
      btn_registrar.classList.toggle("activo");
      btn_iniciar.classList.toggle("activo");
      cont_registrar.classList.toggle("desac");
      cont_iniciar.classList.toggle("desac");
    });



    btn_iniciar.addEventListener("click", () => {
      btn_registrar.classList.toggle("activo");
      btn_iniciar.classList.toggle("activo");
      cont_registrar.classList.toggle("desac");
      cont_iniciar.classList.toggle("desac");
    })
  </script>
</body>

</html>