<div id="cont_fixed">
  <img src="./resources/mental-strong.png" alt="">
  <ul id="cont_item">
    <a href="/index.ejs">
      <li class="item" id="item_inicio">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>

      </li>
    </a>
    <a href="/nutricion.ejs">
      <li class="item" id="item_nut">
        <i class="fa-solid fa-apple-whole"></i>
        <span>Datos nutricionales </span>

      </li>
    </a>
    <a href="/progreso.ejs">
      <li class="item" id="item_progreso">
        <i class="fa-solid fa-chart-line"></i>
        <span>Progreso</span>
      </li>
    </a>
    <a href="/asesoramiento.ejs">
      <li class="item" id="item_ase">
        <i class="fa-solid fa-address-book"></i>
        <span>Asesoramiento</span>

      </li>
    </a>
  </ul>
</div>