<<<<<<< Updated upstream

    <img src="./resources/mental-strong.png" alt="">
    <ul id="cont_item">
=======
<div id="cont_fixed">
  <img src="./resources/mental-strong.png" alt="">
  <ul id="cont_item">
    <a href="/index">
>>>>>>> Stashed changes
      <li class="item" id="item_inicio">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>

      </li>
<<<<<<< Updated upstream
=======
    </a>
    <a href="/nutricion">
>>>>>>> Stashed changes
      <li class="item" id="item_nut">
        <i class="fa-solid fa-apple-whole"></i>
        <span>Datos nutricionales </span>

      </li>
<<<<<<< Updated upstream
=======
    </a>
    <a href="/progreso">
>>>>>>> Stashed changes
      <li class="item" id="item_progreso">
        <i class="fa-solid fa-chart-line"></i>
        <span>Progreso</span>
      </li>
<<<<<<< Updated upstream
=======
    </a>
    <a href="/asesoramiento">
>>>>>>> Stashed changes
      <li class="item" id="item_ase">
        <i class="fa-solid fa-address-book"></i>
        <span>Asesoramiento</span>

      </li>
    </ul>
