<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main>

        <section id="ventana_prin">

            <aside id="menu_lateral">
                <%-include('menu.ejs')%>
            </aside>
            <div id="cont_main" class="cont_main">
                <div id="cont_user">
                    <i class="fa-solid fa-gear"></i>
                    <i class="fa-solid fa-user"></i>

                </div>

                <h2 id="nombre_us">Datos nutricionales</h2>



            </div>
        </section>
    </main>


</body>

</html>