<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mental Strong</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <main>

        <section id="ventana_prin">

            <div id="menu_lateral">
                <%-include('menu.ejs')%>
            </div>
        </section>
    </main>
    <script src="js/recetas.js"></script>

</body>

</html>