///Seccion Rutinas

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.body {
  background-color: #1a1a1a;
  color: #fff;

}

#cont_rutinas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  .rutina_item {
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    transition: all .2s ease-in-out;
    &:hover{
      background-color:rgb(73, 73, 73);
    }
    h3 {
      font-size: 1.5em;
      font-weight: 800;
    }

    p {
      font-size: .9em;
      color: #f0f0f0;
    }
    a{
      padding: 8px;
      border-radius: 8px;
      background-color: #4e4e4ea1;
      color: white;
      text-decoration: none;
    }
  }

  .cont_recomendaciones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .rutina_item {
      background-color:#56cc75;
      &:hover{
        background-color: #4db669;
      }
    }
    
  }
}


.cont_recomendaciones {
  display: flex;
  gap: 30px;
}

.recomendacion_item {
  background-color: #333;
  width: 450px;
  height: 200px;
  border-radius: 20px;
}

.todas_rutinas {
  font-size: 1.7em;
  margin-top: 6%;
}

.rutinas_lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rutina_item {
  background-color: #333;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}






#cont_lista {

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;

  .cont_ejercio {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Agrega sombra
    transition: transform 0.3s ease; // Animación de escalado
    cursor: pointer;

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease, opacity 1s ease; // Agrega suavidad en el zoom y opacidad
      opacity: 0.3; // Mayor opacidad en la imagen
      object-fit: cover; // Asegura que las imágenes mantengan proporción
    }



    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 3em;
      font-style: oblique;

      text-align: center;
      font-family: "Poppins", sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      opacity: 0; // Inicialmente invisible
      transition: opacity 0.3s ease, transform 0.3s ease; // Animación para mostrar el texto
      font-weight: bolder;
    }

    span {
      position: absolute;
      top: 70%;
      width: 60%;
      left: 50%;
      text-decoration: underline;
      transform: translate(-50%, -50%);
      color: #c9c9c9bb;
      font-size: 1.5em;
      font-style: oblique;

      text-align: center;
      font-family: "Poppins", sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      opacity: 0; // Inicialmente invisible
      transition: opacity 0.3s ease, transform 0.3s ease; // Animación para mostrar el texto
      font-weight: bolder;
    }

    &:hover {


      img {
        opacity: 0.7; // Reduce la opacidad al hacer hover
        transform: scale(1.1); // Aplica un pequeño zoom a la imagen
      }

      span,
      h3 {
        opacity: 1; // Muestra el texto
        transform: translate(-50%, -50%) scale(1.1); // Hace zoom en el texto
      }
    }
  }
}

#cont_ejercio_focus_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#cont_ejercio_focus {

  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start !important;
  align-items: flex-start;
  gap: 20px;

  .cont_ejercio {
    background-color: #111b2e;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20vw;
    height: auto;

    transition: all .2s ease-in-out;

    &:hover {
      background-color: #141f33;
      ;
    }

    .cont_text_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: auto;
      padding: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.247);

      .name {
        font-size: 1.6em;
        color: white;
      }

      .dif {
        padding: 5px;
        border-radius: 15px;
        color: white;
        font-weight: 700;
        background-color: #2663ea;
      }
    }

    .cont_text {
      width: 100%;
      padding: 20px;
      font-size: 1.3em;
      font-weight: 700;
      color: white;
      height: 45vh;
      overflow: scroll;

      ul {
        list-style: none;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        li {
          color: rgb(199, 197, 197);
          font-size: .8em;
          font-weight: 300;
        }
      }
    }

    .cont_equip {
      padding: 20px;
      padding-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      color: #949494;
    }
  }
}

@media (max-width: 768px) {
  .cont_ejercio_focus {
    grid-template-columns: 1fr;
  }
}