.cerrar-sesion {
    display: flex;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: #49a863;
    width: auto;
    height: auto;
    right: 20px;
    top: 20px;
    color: white;
    gap: 5px;
    cursor: pointer;
    transition: all ease-in-out .3s;

    &:hover {
        background-color: #5bc778;
    }
}

#main_recetas {

    #cont_info_prin {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        height: auto;
        width: 100%;
        padding-left: 20px;

        img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;

        }

        .nombre_us {
            font-size: 3em;
            color: white;
            font-weight: bolder;
        }

    }

    #cont_us {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;


        .cont_datos {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            border-radius: 15px;
            border: 1px solid #949494b2;
            color: white;
            transition: all .2s ease-in-out;

            .cont_link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: #49a863;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        color: #61d480;
                    }
                }

            }


            h4 {
                color: #51b66c;
                font-weight: 100;
                font-size: 1.6em;
            }

            .link {
                text-decoration: none;
                padding: 20px;
                width: 60%;
                border-radius: 6px;
                transition: all .1s ease-in-out;

                .datos_user {

                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h3 {
                        font-weight: 600;
                        color: white;
                    }

                    p {
                        font-weight: 100;
                        color: rgb(197, 197, 197);

                    }
                }

                &:hover {
                    background-color: rgba(128, 128, 128, 0.055);
                }
            }

        }

        #cont_main {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            padding: 20px;
            flex-direction: column;
            gap: 50px;
        }

        #cont_sec_datos {
            width: 45%;
            display: flex;
            justify-content: flex-start;
            padding: 20px;
            flex-direction: column;
            gap: 50px;
            margin-right: 6px;


            .cont_datos {

                width: 100%;
            }
        }
    }
}

#cont_us_editar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    color: white;

    .datos_user {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;

        h3 {
            width: 35%;
            font-weight: 600;
            color: white;
        }
    }

    h4 {
        color: #51b66c;
        font-weight: 100;
        font-size: 1.6em;
    }

    input {
        display: flex;
        border: none;
        border-radius: 5px;
        width: 250px;
        font-size: 1rem;
        padding: 10px;
        height: 30px;
        margin-left: 50px;
        color: black;
    }

    .bloqueado {
        background-color: rgb(207, 207, 207);
        cursor: no-drop;
        color: black;
    }

    .cont_datos {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-radius: 15px;
        border: 1px solid #949494b2;
        color: white;
        transition: all .2s ease-in-out;
        margin-top: 4%;

        .cont_link {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #49a863;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #5bc778;
                }
            }

        }


        h4 {
            color: #51b66c;
            font-weight: 100;
            font-size: 1.6em;
        }

        .link {
            text-decoration: none;
            padding: 20px;
            width: 60%;
            border-radius: 6px;
            transition: all .2s ease-in-out;

            .datos_user {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-right: 5px;

                .opcion {
                    font-weight: 600;
                    color: white;
                }

                p {
                    font-weight: 100;
                    color: rgb(197, 197, 197);
                }
            }

            &:hover {
                background-color: rgba(128, 128, 128, 0.055);
            }
        }

    }
}