#main_recetas {
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#main_recetas h2 {
  font-size: 2em;
  color: white;
  font-style: italic;
}
#main_recetas .cont_rec {
  display: flex;
  height: auto;
  width: 100%;
}
#main_recetas .cont_rec #cont_recetas_main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  /* Espacio entre los elementos */
  width: 70%;
  height: auto;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: auto;
  border-radius: 10px;
  background-color: #224439;
  box-shadow: 10px 9px 22px -1px rgb(37, 37, 37);
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta img {
  height: 100%;
  width: auto;
  max-width: 60%;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 50%;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .name_receta {
  width: auto;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .dieta {
  width: 50%;
  color: rgb(170, 170, 170);
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .cont_tiempo {
  color: #D6B754;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .info {
  width: 100%;
  height: 20vh;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .info a {
  color: #5eca82;
}
#main_recetas .cont_rec #cont_recetas_main .cont_receta .text .btn_receta {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  color: white;
  background-color: #D6B754;
  width: 50%;
  height: 20%;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
}
#main_recetas .cont_rec #filtros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}
#main_recetas .cont_rec #filtros h4 {
  color: #2c8364;
  font-size: 2em;
}
#main_recetas .cont_rec #filtros .cont_fitro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main_recetas .cont_rec #filtros .cont_fitro label {
  color: rgb(133, 133, 133);
}
#main_recetas .cont_rec #filtros .cont_fitro select,
#main_recetas .cont_rec #filtros .cont_fitro input {
  width: 80%;
  padding: 10px;
  height: 50px;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgb(73, 73, 73);
}
#main_recetas .cont_rec #filtros .cont_fitro select:focus {
  background-color: rgb(41, 41, 41);
}
#main_recetas .cont_rec #filtros .cont_button {
  display: flex;
  width: 80%;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
#main_recetas .cont_rec #filtros .cont_button button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#main_recetas .cont_rec #filtros .cont_button button#limpiar {
  color: rgb(116, 116, 116);
}
#main_recetas .cont_rec #filtros .cont_button button#aplicar {
  color: #2c8364;
}

#main_recetas_focus {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  gap: 20px;
  padding-bottom: 2%;
}
#main_recetas_focus #cont_recetas_main {
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#main_recetas_focus #cont_recetas_main .seccion {
  transition: all 0.2s ease-in-out;
}
#main_recetas_focus #cont_recetas_main .seccion:hover h4 {
  font-style: italic;
}
#main_recetas_focus #cont_recetas_main li {
  transition: all 0.2s ease;
  color: #666;
}
#main_recetas_focus #cont_recetas_main li:hover {
  color: #afafaf;
  padding: 5px;
  text-decoration: underline;
}
#main_recetas_focus #cont_recetas_main h2 {
  font-size: 2em;
  color: white;
  font-style: italic;
  text-decoration: underline;
}
#main_recetas_focus #cont_recetas_main .text {
  color: rgb(219, 219, 219);
  width: 30vw;
}
#main_recetas_focus #cont_recetas_main .text a {
  color: #5eca82;
  text-decoration: none;
}
#main_recetas_focus #cont_recetas_main .seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15%;
  gap: 4px;
  color: rgb(209, 209, 209);
}
#main_recetas_focus #cont_recetas_main .seccion h4 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas {
  display: none;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas.active {
  display: flex;
  flex-direction: column;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .instruction-title {
  font-size: 1.25em;
  color: #b4b4b4;
  margin-top: 20px;
  margin-bottom: 10px;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step {
  padding-left: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #ccc;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .step-description {
  font-size: 1em;
  color: #265346;
  margin-bottom: 10px;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .ingredients-title,
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .equipment-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .ingredients-list,
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .equipment-list {
  list-style-type: square;
  margin-left: 20px;
}
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .ingredients-list .ingredient-item,
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .ingredients-list .equipment-item,
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .equipment-list .ingredient-item,
#main_recetas_focus #cont_recetas_main .seccion#int_detalladas .step .equipment-list .equipment-item {
  font-size: 0.95em;
  color: #666;
  margin-bottom: 5px;
}
#main_recetas_focus #cont_recetas_main .cont_ver_mas {
  padding-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#main_recetas_focus #cont_recetas_main .cont_ver_mas .arrow {
  width: 40%;
  height: 2px;
  background-color: rgba(82, 82, 82, 0.411);
}
#main_recetas_focus #cont_recetas_main .cont_ver_mas .ver_mas {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  width: 40%;
  height: auto;
  font-size: 1.1em;
  padding: 7px;
  cursor: pointer;
  border: 2px solid rgba(82, 82, 82, 0.411);
  transition: all 0.2s ease-in-out;
}
#main_recetas_focus #cont_recetas_main .cont_ver_mas .ver_mas:hover {
  background-color: rgba(128, 128, 128, 0.103);
  width: 70%;
}/*# sourceMappingURL=estilo_recetas.css.map */