main #Actualizar_datos.focus {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.862745098);
}
main #Actualizar_datos .form_us {
<<<<<<< HEAD
  width: 40%;
  height: 60%;
=======
  width: 50%;
  height: 50%;
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgb(20, 20, 20);
=======
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(50, 50, 50);
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
}
main #Actualizar_datos .form_us #cancel {
  position: relative;
  right: -45%;
  top: -8%;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
}
main #Actualizar_datos .form_us #cancel:hover {
  background-color: rgba(250, 235, 215, 0.274);
}
main #Actualizar_datos .form_us h4 {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-size: 2em;
}
main #Actualizar_datos .form_us p {
  color: rgb(228, 228, 228);
  width: 60%;
  text-align: center;
}
main #Actualizar_datos .form_us .cont_inp {
<<<<<<< HEAD
  width: 60%;
=======
  margin-top: 4%;
  width: 50%;
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
main #Actualizar_datos .form_us .cont_inp label {
  color: rgb(228, 228, 228);
}
main #Actualizar_datos .form_us .cont_inp input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 6px;
  background: white;
  border: none;
  color: black;
  font: inherit;
  /* Hereda la fuente del elemento padre */
}
main #Actualizar_datos .form_us .cont_btn {
  height: 40px;
  width: 60%;
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  align-items: flex-start;
}
main #Actualizar_datos .form_us .cont_btn button {
  height: 100%;
  width: 40%;
  border-radius: 20px;
=======
  margin-top: 4%;
}
main #Actualizar_datos .form_us .cont_btn button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
  color: white;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
  background: #64E788;
  transition: all 0.2s ease-in-out;
}
main #Actualizar_datos .form_us .cont_btn button:hover {
  background: #4cb368;
}

.cont_prog_main {
  align-items: center;
}
.cont_prog_main .form_us {
  height: 60vh !important;
}
.cont_prog_main #cont_prog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.cont_prog_main #cont_prog.cont_ver {
  flex-direction: row;
}
.cont_prog_main #cont_prog.cont_prog_ver {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cont_prog_main #cont_prog .datos_user {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 12px;
  border: 1px solid #64E788;
  border-radius: 10px;
}
.cont_prog_main #cont_prog .datos_user .info h3 {
  font-weight: 600;
  color: white;
}
.cont_prog_main #cont_prog .datos_user .info p {
  margin-top: 10px;
  font-weight: lighter;
  color: rgb(197, 197, 197);
}
.cont_prog_main #cont_prog .datos_user .opciones {
  display: flex;
  width: auto;
<<<<<<< HEAD
  gap: 10px;
}
.cont_prog_main #cont_prog .datos_user .opciones .cont_a {
  width: 8vw;
  height: 50px;
=======
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.cont_prog_main #cont_prog .datos_user .opciones .cont_a {
  width: auto;
  cursor: pointer;
  height: auto;
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
<<<<<<< HEAD
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.1s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
  background-color: rgba(236, 236, 236, 0.045);
>>>>>>> fc702e7d30333cffb3248aa30dabdca8f6262b02
}
.cont_prog_main #cont_prog .datos_user .opciones .cont_a:hover {
  background-color: rgba(236, 236, 236, 0.064);
}
.cont_prog_main a {
  position: relative;
  width: 30vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.cont_prog_main a img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.3s ease;
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont_prog_main a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3em;
  font-style: oblique;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
}
.cont_prog_main a:hover img {
  opacity: 0.7;
  transform: scale(1.1);
}
.cont_prog_main a:hover span {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
.cont_prog_main form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  background-color: transparent;
  height: 100%;
  width: 60%;
}
.cont_prog_main form .sub_form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.cont_prog_main form .desac {
  display: none;
}
.cont_prog_main form#cont_iniciar {
  height: 100vh !important;
}
.cont_prog_main form .cont_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.cont_prog_main form .cont_inputs label {
  width: 60%;
  text-align: start;
  color: #64E788;
}
.cont_prog_main form .cont_inputs select,
.cont_prog_main form .cont_inputs input {
  width: 60%;
  border-radius: 10px;
  background-color: white;
  height: 8vh;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.1em;
  color: #121212 !important;
}
.cont_prog_main form button {
  border-radius: 30px;
  width: auto;
  min-width: 50%;
  height: 50px;
  background-color: #64E788;
  font-size: 1.1em;
  font-weight: bolder;
  border: none;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cont_prog_main form button:hover {
  background-color: #46a55f;
}
.cont_prog_main form#cont_registrar {
  height: auto;
  padding-bottom: 20px;
}
.cont_prog_main form#cont_registrar #texto_regs {
  width: 100%;
  text-align: center;
  color: rgb(226, 226, 226);
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.cont_prog_main form#cont_registrar .sub_form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.cont_prog_main form#cont_registrar .sub_form .cont_btn {
  height: 60px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
.cont_prog_main form#cont_registrar .sub_form .cont_btn button {
  height: auto;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}
.cont_prog_main form#cont_registrar .desac {
  display: none !important;
}/*# sourceMappingURL=estilo_progreso.css.map */