///Seccion Rutinas

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.body {
  background-color: #1a1a1a;
  color: #fff;
  
}

#cont_rutinas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}


.cont_recomendaciones {
  display: flex;
  gap: 30px;
}

.recomendacion_item {
  background-color: #333;
  width: 450px;
  height: 200px;
  border-radius: 20px;
}

.todas_rutinas {
  font-size: 1.7em;
  margin-top: 6%;
}

.rutinas_lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rutina_item {
  background-color: #333;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}






#cont_lista {

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;

  .cont_ejercio {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Agrega sombra
    transition: transform 0.3s ease; // Animación de escalado
    cursor: pointer;

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease, opacity 1s ease; // Agrega suavidad en el zoom y opacidad
      opacity: 0.3; // Mayor opacidad en la imagen
      object-fit: cover; // Asegura que las imágenes mantengan proporción
    }



    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 3em;
      font-style: oblique;

      text-align: center;
      font-family: "Poppins", sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      opacity: 0; // Inicialmente invisible
      transition: opacity 0.3s ease, transform 0.3s ease; // Animación para mostrar el texto
      font-weight: bolder;
    }

    span {
      position: absolute;
      top: 70%;
      width: 60%;
      left: 50%;
      text-decoration: underline;
      transform: translate(-50%, -50%);
      color: #c9c9c9bb;
      font-size: 1.5em;
      font-style: oblique;

      text-align: center;
      font-family: "Poppins", sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      opacity: 0; // Inicialmente invisible
      transition: opacity 0.3s ease, transform 0.3s ease; // Animación para mostrar el texto
      font-weight: bolder;
    }

    &:hover {


      img {
        opacity: 0.7; // Reduce la opacidad al hacer hover
        transform: scale(1.1); // Aplica un pequeño zoom a la imagen
      }

      span,
      h3 {
        opacity: 1; // Muestra el texto
        transform: translate(-50%, -50%) scale(1.1); // Hace zoom en el texto
      }
    }
  }
}