#main_recetas #cont_nut {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

#cont_sub {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30vw;
  height: auto;
}
#cont_sub .card {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 25vh;
  height: auto;
}
#cont_sub .card .info {
  color: gainsboro;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid gainsboro;
  width: 100%;
}
#cont_sub .card .cont_tit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
#cont_sub .card .cont_tit h2 {
  margin-left: 25%;
  text-align: center;
  width: 50%;
}
#cont_sub .card .cont_tit .question {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#cont_sub .card .cont_tit .question:hover {
  color: gray;
}
#cont_sub .card h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
}
#cont_sub .card .range-bar {
  position: relative;
  height: 8px;
  background: linear-gradient(to right, #f39c12, #2ecc71, #f1c40f, #1abc9c);
  border-radius: 5px;
  margin: 15px 0 10px;
  overflow: hidden;
}
#cont_sub .card .range-bar .range-text {
  position: absolute;
  font-size: 12px;
  margin-top: 5px;
}
#cont_sub .card .range-bar .range-text.left {
  left: 0;
}
#cont_sub .card .range-bar .range-text:nth-child(2) {
  left: 25%;
  transform: translateX(-50%);
}
#cont_sub .card .range-bar .range-text:nth-child(3) {
  left: 75%;
  transform: translateX(-50%);
}
#cont_sub .card .range-bar .range-text.right {
  right: 0;
}
#cont_sub .card .range-bar .indicator {
  position: absolute;
  top: -6px;
  left: 35%;
  width: 10px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #2ecc71;
}
#cont_sub .card .imc-value {
  font-size: 2.3em;
  font-weight: bolder;
  color: #2ecc71;
  margin: 10px 0;
}
#cont_sub .card .suggestion {
  font-size: 14px;
  color: #bdc3c7;
  margin: 10px 0;
}
#cont_sub .card #data_nut #categoria {
  margin-bottom: 10px;
}
#cont_sub .card#cont_rec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#cont_sub .card#cont_rec #valor_rec {
  font-size: 1.6em;
  color: #2ecc71;
}
#cont_sub .card#cont_rec #categoria_cal_dom {
  color: rgb(156, 156, 156);
  font-size: 1em;
}

#cont_main {
  display: flex;
  width: 60%;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2%;
}
#cont_main #macros {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #1e1e1e;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 20px;
  color: white;
  width: 30vw;
}
#cont_main #macros #modelsChart {
  margin-top: 10px;
  background-color: rgba(44, 44, 44, 0.2117647059);
}
#cont_main #macros h4 {
  color: gray;
  margin-left: 10%;
  text-align: start;
  width: 90%;
}
#cont_main #macros .cont_tit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
#cont_main #macros .cont_tit h2 {
  margin-left: 10%;
  text-align: start;
  width: auto;
}
#cont_main #macros .cont_tit .question {
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#cont_main #macros .cont_tit .question:hover {
  color: gray;
}
#cont_main #macros .info {
  color: gainsboro;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid gainsboro;
  width: 100%;
}

@media (max-width: 1100px) {
  #cont_nut {
    flex-direction: column !important;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
  }
  #cont_nut #cont_main {
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  }
  #cont_nut #cont_main #macros {
    width: 80%;
  }
  #cont_nut #cont_sub {
    width: 90%;
    flex-direction: row !important;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }
  #cont_nut #cont_sub .card {
    min-height: 35vh;
    height: auto;
  }
}/*# sourceMappingURL=estilo_nut.css.map */