* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$color-primario: #64E788; // verde

.desac {
    display: none !important;
}

body {
    width: 100vw;
    overflow-x: hidden;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgb(37, 35, 35);

        #registro {
            height: auto !important;
            padding-top: 10%;
            width: 100%;
            background-image: url("../resources/file.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;

            justify-content: center;
            align-items: center;
            flex-direction: column;

            &.desac {
                display: none !important;
            }

            #cont_selec {
                #cont_url {
                    width: 100%;
                    height: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    span {
                        background-color: transparent;
                        border: none;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bolder;
                        border-bottom: none;

                        &.activo {
                            border-bottom: 2px solid $color-primario ;
                        }

                    }
                }
            }

            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 35px;
                background-color: transparent;
                height: 100%;
                width: 60%;

                .sub_form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                }



                .desac {
                    display: none;
                }

                &#cont_iniciar {
                    height: 100vh !important;
                }

                .cont_inputs {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;

                    label {
                        width: 60%;
                        text-align: start;
                        color: $color-primario;

                    }

                    select,
                    input {
                        width: 60%;
                        border-radius: 20px;
                        background-color: white;
                        height: 8vh;
                        padding: 10px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        font-size: 1.1em;
                    }
                }


                button {
                    border-radius: 30px;
                    width: 40%;
                    height: 50px;
                    background-color: $color-primario;
                    font-size: 1.1em;
                    font-weight: bolder;
                    border: none;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #46a55f;
                    }
                }

                &#cont_registrar {
                    height: auto;
                    padding-bottom: 20px;

                    #texto_regs {
                        width: 100%;
                        text-align: center;
                        color: rgb(226, 226, 226);

                        font-size: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 0px;
                    }

                    .sub_form {
                        height: 100vh;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;

                        .cont_btn {
                            height: 50px;
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 20px;

                            button {
                                height: 100%;
                                width: 50%;
                            }
                        }

                    }

                    .desac {
                        display: none !important;
                    }
                }
            }
        }

        #ventana_prin {
            width: 100%;
            height: 100vh;
            background-color: #222;
            display: flex;

            #menu_lateral {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                padding-top: 10px;
                height: 100%;
                width: 15%;
                background-color: #121212;

                img {
                    height: auto;
                    width: auto;
                }

                #cont_item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 40px;
                    height: 70%;
                    width: 82%;
                    
                    list-style: none;

                    .item {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 20px;
                        align-items: center;
                        gap: 10px   ;
                        background-color: #58C885;
                        border-radius: 10px;
                        width: 100%;
                        height: 10%;
                        cursor: pointer;
                        transition: all .2s ease-in-out;

                        span {
                            font-weight: bolder;
                            font-size: 1em;
                            color: white;
                        }
                        i{
                            color: white;
                            font-size: 1.2em;
                        }
                        &:hover {
                            background-color: #419663;
                            transform: scale(1.05);
                        }
                    }
                }
            }

            #cont_main {
                height: 100%;
                width: 75%;
                padding: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                #nombre_us {
                    font-size: 2em;
                    color: white;
                    font-style: italic;
                }

                #cont_user {
                    position: absolute;
                    left: 90%;
                    width: auto;
                    height: auto;

                    img {
                        height: 50px;
                        width: 50px;
                        padding: 10px;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        border-radius: 50%;

                        &:hover {
                            background-color: #74747436;
                        }
                    }
                }
            }
        }

        .desac {
            display: none !important;
        }
    }
}

//estilos para el calendario
// Variables (puedes ajustar estos valores según sea necesario)
$primary-color: #64e787c9;
$secondary-color: #1C1E26;
$text-color: white;
$background-color: rgb(37, 35, 35);
$highlight-opacity: 0.2;
$button-font-size: 1.2em;
$header-font-size-large: 3.5em;
$header-font-size-small: 2em;
$container-max-width: 400px;
$circle-size: 20px;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_calendar {
    width: 90%;
    max-width: $container-max-width;
    margin: 5% auto;
    .header_calendar {
        width: 100%;
        height: auto;
        background: $primary-color;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        
        h1 {
            margin: 0;
            font-family: Arial, sans-serif;
            color: $text-color;
            font-size: $header-font-size-large;
            text-align: left;
            width: 100%;
        }

        h5 {
            margin: 10px 0 0;
            font-family: Arial, sans-serif;
            color: $text-color;
            font-size: $header-font-size-small;
            text-align: left;
            width: 100%;
        }
    }

    .body_calendar {
        width: 100%;
        height: auto;
        background-color: $background-color;
        border-radius: 0 0 15px 15px;
    }

    .container_details {
        width: 100%;
        height: auto;
        background: #000;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .detail_1, .detail_2 {
            flex: 1;
            display: flex;
            justify-content: center;

            .detail {
                margin: 0 2px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .circle {
                    width: 10px;
                    height: 10px;
                    background: $secondary-color;
                    border-radius: 50%;
                }

                .column {
                    width: 80%;
                    height: 30px;
                    background: #ececec;
                    border-radius: 5px;
                }
            }
        }
    }

    .selected {
        position: relative;
    
        &:after {
            content: "";
            width: $circle-size;
            height: $circle-size;
            background: $primary-color;
            position: absolute;
            border-radius: 50%;
            border: 5px solid $primary-color;
            opacity: $highlight-opacity;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .container_change_month {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        opacity: 0.7;
        margin: 5px 0;

        div {
            color: $text-color;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        button {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: $button-font-size;
            border: none;
            background: none;
            cursor: pointer;
            color: $text-color;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $primary-color;
            }
        }
    }

    .container_weedays {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;

        span {
            color: $primary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
    }

    .week_days_item {
        width: calc(100% / 7);
        text-align: center;
        cursor: pointer;
        color: $text-color;

        &:hover {
            color: $primary-color;
        }
    }

    .container_days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;

        span {
            color: $text-color;
            height: 20px;
            margin: 5px 0;
            font-family: Arial, sans-serif;
            position: relative;
            flex-basis: calc(100% / 7); 
            text-align: center; 
        }

        .prev_days, .next_days {
            opacity: 0.2; // Opcional: Atenúa los días de otros meses
        }

        .today {
            position: relative;

            &:after {
                content: "";
                width: $circle-size;
                height: $circle-size;
                background: $color-primario;
                position: absolute;
                border-radius: 50%;
                opacity: 0.6;
                border: 5px solid $color-primario;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    // Media queries para mejorar la responsividad
    @media (max-width: 768px) {
        $header-font-size-large: 2.5em;
        $header-font-size-small: 1.5em;
        
        .header_calendar {
            padding: 10px;
            h1 {
                font-size: $header-font-size-large;
            }

            h5 {
                font-size: $header-font-size-small;
            }
        }

        .week_days_item,
        .container_days span {
            flex-basis: calc(100% / 7 - 10px);
        }
    }

    @media (max-width: 480px) {
        $header-font-size-large: 2em;
        $header-font-size-small: 1.2em;
        .header_calendar {
            padding: 5px;
            h1 {
                font-size: $header-font-size-large;
            }
            h5 {
                font-size: $header-font-size-small;
            }
        }

        .week_days_item,
        .container_days span {
            flex-basis: calc(100% / 7 - 5px);
        }
    }
}
