#main_recetas {
  #cont_nut {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;


  }

}



#cont_sub {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30vw;
  height: auto;

  .card {
    background-color: #1e1e1e;

    border-radius: 15px;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    .info {
      color: gainsboro;
      margin-top: 10px;
      padding: 10px;
      border-top: 1px solid gainsboro;
      ;
      width: 100%;
    }

    .cont_tit {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        margin-left: 25%;
        text-align: center;
        width: 50%;
      }

      .question {
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          color: gray;
        }
      }
    }

    h2 {
      margin: 0;
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 10px;

    }

    .range-bar {
      position: relative;
      height: 8px;
      background: linear-gradient(to right, #f39c12, #2ecc71, #f1c40f, #1abc9c);
      border-radius: 5px;
      margin: 15px 0 10px;
      overflow: hidden;

      .range-text {
        position: absolute;
        font-size: 12px;
        margin-top: 5px;

        &.left {
          left: 0;
        }

        &:nth-child(2) {
          left: 25%;
          transform: translateX(-50%);
        }

        &:nth-child(3) {
          left: 75%;
          transform: translateX(-50%);
        }

        &.right {
          right: 0;
        }
      }

      .indicator {
        position: absolute;
        top: -6px;
        left: 35%; // Ajustar de acuerdo al valor del IMC
        width: 10px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid #2ecc71;
      }
    }

    .imc-value {
      font-size: 2.3em;
      font-weight: bolder;
      color: #2ecc71;
      margin: 10px 0;
    }

    .suggestion {
      font-size: 14px;
      color: #bdc3c7;
      margin: 10px 0;
    }

    #data_nut {
      #categoria {
        margin-bottom: 10px;
      }
    }

    &#cont_rec {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      #valor_rec {
        font-size: 1.6em;
        color: #2ecc71;
      }

      #categoria_cal_dom {
        color: rgb(156, 156, 156);
        font-size: 1.0em;
      }

    }
  }



}

#cont_main {
  display: flex;
  width: 60%;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2%;

  #macros {
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    color: white;
    width: 30vw;

    #modelsChart {
      margin-top: 10px;
      background-color: #2c2c2c36;
    }

    h4 {
      color: gray;
      margin-left: 10%;
      text-align: start;
      width: 90%;

    }

    .cont_tit {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        margin-left: 10%;
        text-align: start;
        width: auto;
      }

      .question {
        margin-top: 10px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          color: gray;
        }
      }
    }

    .info {
      color: gainsboro;
      margin-top: 10px;
      padding: 10px;
      border-top: 1px solid gainsboro;
      width: 100%;
    }
  }
}