$color-primario: #64E788; // verde

#cont_text_main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end   ;
    gap: 30px;
    a{
        font-size: 2em;
        color: white;
    }

}

main {
    #Actualizar_datos {
        &.focus {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000dc;
        }

        .form_us {
            width: 45%;
            height: 60%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            gap: 20px;
            flex-direction: column;
            border-radius: 30px;
            background-color: rgb(20, 20, 20);




            #cancel {
                position: relative;
                right: 47%;
                top: 0%;
                color: white;
                cursor: pointer;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgba(250, 235, 215, 0.274);
                }
            }



            h4 {
                width: 100%;
                text-align: center;
                color: white;
                margin-bottom: 5%;
                font-size: 2em;
            }

            p {
                color: rgb(228, 228, 228);
                width: 60%;
                text-align: center;
            }

            .cont_inp {
                margin-top: 50px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                label {
                    color: rgb(228, 228, 228);
                }

                input {
                    height: 40px;
                    width: 100%;
                    border-radius: 10px;
                    padding: 6px;
                    background: white;
                    border: none;
                    color: black;
                    font: inherit;
                    /* Hereda la fuente del elemento padre */
                }
            }

            .cont_btn {
                height: 40px;
                width: 60%;
                display: flex;
                margin-top: 50px;


                button {
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    color: white;
                    font-size: 1em;
                    font-weight: bolder;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background: #64E788;
                    transition: all .2s ease-in-out;

                    &:hover {
                        background: #4cb368;

                    }
                }

            }
        }
    }
}

.cont_prog_main {
    align-items: center;

    .form_us {
        height: 60vh !important;

    }

    #cont_prog {
        display: flex;
        justify-content: center;
        align-items: center;

        &.cont_ver {
            flex-direction: row;
        }

        flex-direction: column;
        gap: 40px;
        width: 100%;

        &.cont_prog_ver {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .datos_user {
            width: 52%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            padding: 12px;
            border: 1px solid rgba(112, 112, 112, 0.623);
            border-radius: 10px;

            .info {
                h3 {
                    font-weight: 600;
                    color: white;
                }

                p {
                    margin-top: 10px;
                    font-weight: lighter;
                    color: rgb(197, 197, 197);
                }
            }

            .opciones {
                display: flex;
                gap: 20px;
                width: auto;

                .cont_a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    width: 60%;
                    height: 50px;
                    color: white;
                    text-decoration: none;
                    border-radius: 10px;
                    padding: 10px;
                    transition: all .1s ease-in-out;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Agrega sombra
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(236, 236, 236, 0.064);
                    }
                }
            }
        }
    }

    .prog_a {
        position: relative;
        width: 30vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Agrega sombra
        transition: transform 0.3s ease; // Animación de escalado

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease, opacity 0.3s ease; // Agrega suavidad en el zoom y opacidad
            opacity: 0.5; // Mayor opacidad en la imagen
            object-fit: cover; // Asegura que las imágenes mantengan proporción
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 3em;
            font-style: oblique;

            text-align: center;
            font-family: "Poppins", sans-serif;
            padding: 10px 20px;
            border-radius: 10px;
            opacity: 0; // Inicialmente invisible
            transition: opacity 0.3s ease, transform 0.3s ease; // Animación para mostrar el texto
            font-weight: bolder;
        }

        &:hover {


            img {
                opacity: 0.7; // Reduce la opacidad al hacer hover
                transform: scale(1.1); // Aplica un pequeño zoom a la imagen
            }

            span {
                opacity: 1; // Muestra el texto
                transform: translate(-50%, -50%) scale(1.1); // Hace zoom en el texto
            }
        }
    }


    form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 35px;
        background-color: transparent;
        height: 100%;
        width: 60%;

        .sub_form {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }



        .desac {
            display: none;
        }

        &#cont_iniciar {
            height: 100vh !important;
        }

        .cont_inputs {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 5px;

            label {
                width: 60%;
                text-align: start;
                color: $color-primario;

            }

            select,
            input {
                width: 60%;
                border-radius: 10px;
                background-color: white;
                height: 8vh;
                padding: 10px;
                border: none;
                outline: none;
                box-shadow: none;
                font-size: 1.1em;
                color: #121212 !important;
            }
        }


        button {
            border-radius: 30px;
            width: auto;
            min-width: 50%;
            height: 50px;
            background-color: $color-primario;
            font-size: 1.1em;
            font-weight: bolder;
            border: none;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {

                background-color: #46a55f;
            }
        }

        &#cont_registrar {
            height: auto;
            padding-bottom: 20px;

            #texto_regs {
                width: 100%;
                text-align: center;
                color: rgb(226, 226, 226);
                font-size: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;
            }

            .sub_form {
                height: 100vh;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                .cont_btn {
                    height: 60px;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 20px;

                    button {
                        height: auto;
                        padding: 10px;
                        border-radius: 10px;
                        width: 60%;
                    }

                }

            }

            .desac {
                display: none !important;
            }
        }
    }

}

#cont_chart {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background-color: #7c7c7c18;
    padding: 20px;
    border-radius: 10px;

    h3 {
        color: white;
    }
}