$color-principal-receta: #224439;
$color_a: #5eca82;
// $instruction-title:
$color_p: #43bf7b;
$color_text_primario: #ffff;
$color_ingredientes_list: #dfdfdf;
$color_ingredientes_item: #b5b3b3;
$color_text_li: #b5b3b3;

$color_h4: rgb(209, 209, 209);

#main_recetas {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {

        font-size: 2em;
        color: white;
        font-style: italic;
    }

    .cont_rec {
        display: flex;

        height: auto;
        width: 100%;

        #cont_recetas_main {

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            /* Espacio entre los elementos */
            width: 70%;
            height: auto;


            .cont_receta {
                padding: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                height: auto;
                border-radius: 10px;
                background-color: $color-principal-receta;


                img {
                    height: 100%;
                    width: auto;
                    max-width: 60%;
                    border-radius: 10px;

                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px;
                    width: 50%;

                    .name_receta {
                        width: auto;
                        color: white;
                        font-weight: bolder;
                        font-size: 1.5em;

                    }

                    .dieta {
                        width: 50%;
                        color: rgb(170, 170, 170);
                    }

                    .cont_tiempo {
                        color: #D6B754;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5px;
                        transition: all ease-in-out 0.3s;

                        &:hover {
                            background-color: #51451e;
                            ;
                        }
                    }

                    .info {
                        width: 100%;
                        height: 20vh;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        color: white;

                        a {
                            color: $color_a;
                        }
                    }

                    .btn_receta {
                        display: flex;
                        justify-content: flex-start;
                        gap: 5px;
                        margin-top: 5%;
                        align-items: center;
                        color: white;
                        background-color: #D6B754;
                        width: 50%;
                        height: 20%;
                        text-decoration: none;
                        border-radius: 2px;
                        padding: 5px;
                        transition: all ease-in-out 0.3s;

                        &:hover {
                            background-color: #b59b48;
                        }
                    }



                }

            }
        }

        #filtros {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 20%;
            margin-left: 70px;

            h4 {
                color: #2c8364;
                font-size: 2em;
            }

            .cont_fitro {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    color: rgb(133, 133, 133);
                }

                select,
                input {
                    width: 80%;
                    padding: 10px;
                    height: 50px;
                    color: white;
                    background-color: transparent;
                    border-radius: 3px;
                    border: 1px solid rgb(73, 73, 73);
                }

                select:focus {
                    background-color: rgb(41, 41, 41);
                }
            }

            .cont_button {
                display: flex;
                width: 80%;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    &#limpiar {
                        color: rgb(116, 116, 116);

                        &:hover {
                            color: rgb(170, 170, 170);

                        }
                    }

                    &#aplicar {
                        color: #2c8364;

                        &:hover {
                            color: #3fbd91;

                        }
                    }
                }
            }
        }
    }




}

#main_recetas_focus {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    gap: 20px;
    padding-bottom: 2%;

    #cont_recetas_main {
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        #cont_text_main {
            display: flex;
            gap: 20px;
            justify-content: flex-start;
            align-items: flex-start;

            a {
                padding-top: 2px;
                color: white;
                text-decoration: none;
                height: auto;
                width: auto;
                transition: all .2s ease-in-out;

                i {
                    font-size: 1.2em;
                }

                &:hover {
                    color: #43bf7b;
                }
            }

            h2 {
                font-size: 2em;
                color: white;
                font-style: italic;
                text-decoration: underline;
            }
        }

        .seccion {
            transition: all .2s ease-in-out;

            .ingredientes_ietm {
                margin-left: 40px;

            }

            &:hover {
                h4 {
                    font-style: italic;
                }
            }

            #text_int_det {
                font-size: 2.5em;
                width: 50vw;
                color: $color_a !important;
            }
        }

        li {
            transition: all .2s ease;
            color: $color_text_li;

            &:hover {
                color: #afafaf;
                padding: 5px;
                text-decoration: underline;
            }
        }


        #img_rec {
            width: 40vw;
        }

        .text {
            color: rgb(219, 219, 219);
            width: 40vw;

            a {
                color: $color_a;
                text-decoration: none;
            }
        }

        .seccion {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            
            
            gap: 4px;
            color: $color_h4;

            ol {
                display: flex;
                flex-direction: column;
                gap: 8px;

            }

            h4 {
                font-size: 2em;
                color: white;
                margin-bottom: 10px;
            }

            &#int_detalladas {
                display: none;
                
                &.active {
                    display: flex;
                    flex-direction: column;
                }

                .instruction-title {
                    font-size: 1.25em;
                    color: #b4b4b4; // Gris medio
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                .step {
                    padding-left: 15px;
                    margin-bottom: 20px;
                    border-left: 4px solid #ccc; // Gris claro

                    .step-description {
                        font-size: 1em;
                        color: $color_text_primario;
                        margin-bottom: 10px;
                    }

                    .ingredients-title,
                    .equipment-title {
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: $color_ingredientes_list; // Gris medio oscuro
                    }

                    .ingredients-list,
                    .equipment-list {
                        list-style-type: square;
                        margin-left: 20px;

                        .ingredient-item,
                        .ingredientes_ietm,
                        .Intrucciones,
                        .equipment-item {
                            font-size: 0.95em;
                            color: $color_ingredientes_item;
                            margin-bottom: 5px;
                        }
                    }
                }
            }



        }

        .cont_ver_mas {
            padding-left: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            .arrow {
                width: 40%;
                height: 2px;
                background-color: rgba(82, 82, 82, 0.411);
            }

            .ver_mas {
                background-color: transparent;
                color: white;
                border-radius: 20px;
                width: 40%;
                height: auto;
                font-size: 1.1em;
                padding: 7px;
                cursor: pointer;
                border: 2px solid rgba(82, 82, 82, 0.411);
                transition: all .2s ease-in-out;
                height: 60px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.103);
                    width: 70%;
                }
            }
        }
    }


}