@import url('estilo2.css');
@import url('estilo_recetas.css');
@import url('estilo_asesoramiento.css');
@import url('estilo_nut.css');
@import url('estilo_us.css');
@import url('estilo_progreso.css');
$color_sombra:rgb(8, 8, 8);

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra */
  }
  
  /* Estilo para el fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; /* Color de fondo */
  }
  
  /* Estilo para el "thumb" (parte que se mueve) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Estilo para el "thumb" al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
  


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$color-primario: #64E788; // verde

.desac {
    display: none !important;
}

body {
    width: 100vw;
    overflow-x: hidden;

    #error_ini {
        color: rgb(185, 20, 20);
        font-size: 1.3em;
        text-decoration: underline;
        font-weight: bold;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: rgb(37, 35, 35);

        #registro {
            height: auto !important;
            padding-top: 10%;
            width: 100%;
            background-image: url("../resources/file.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            padding: 40px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &.desac {
                display: none !important;
            }

            #cont_selec {
                margin-bottom: 20px;

                #cont_url {
                    width: 100%;
                    height: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    span {
                        background-color: transparent;
                        border: none;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bolder;
                        border-bottom: none;

                        &.activo {
                            border-bottom: 2px solid $color-primario;
                        }

                    }
                }
            }

            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 35px;
                background-color: transparent;
                height: 100%;
                width: 60%;

                .sub_form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                }



                .desac {
                    display: none;
                }

                &#cont_iniciar {
                    height: 100vh !important;
                }

                .cont_inputs {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;

                    label {
                        width: 60%;
                        text-align: start;
                        color: $color-primario;

                    }

                    select,
                    input {
                        width: 60%;
                        border-radius: 20px;
                        background-color: white;
                        height: 8vh;
                        padding: 10px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        font-size: 1.1em;
                        color: #121212 !important;
                    }
                }


                button {
                    border-radius: 30px;
                    width: auto;
                    min-width: 50%;
                    height: 50px;
                    background-color: $color-primario;
                    font-size: 1.1em;
                    font-weight: bolder;
                    border: none;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #46a55f;
                    }
                }

                &#cont_registrar {
                    height: auto;
                    padding-bottom: 20px;

                    #texto_regs {
                        width: 100%;
                        text-align: center;
                        color: rgb(226, 226, 226);

                        font-size: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 0px;
                    }

                    .sub_form {
                        height: 100vh;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;

                        .cont_btn {
                            height: 60px;
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 20px;

                            button {
                                height: 100%;
                                width: 50%;
                            }

                        }

                    }

                    .desac {
                        display: none !important;
                    }
                }
            }
        }

        #ventana_prin {
            width: 100vw;
            min-height: 100vh;
            height: auto !important;
            background-color: #222;

            position: absolute;
            top: 0;
            z-index: -2;
            height: auto !important; // Asegura que la altura sea automática
            background-color: #121212; // Color de fondo más oscuro
            display: flex;
            background-image: radial-gradient(ellipse 80% 80% at 50% -20%,
                    rgba(50, 50, 100, 0.5), // Un tono oscuro y sutil
                    rgba(0, 0, 0, 0) // Transparente para el centro
                );
 
            .main_sec {
                width: 85vw;
                height: auto;
                padding-left: 3%;
                padding-top: 3%;
                padding-bottom: 3%;

                &#main_frases {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;

                    #cont_frases_sub {
                        width: 50%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        grid-column-gap: 40px;
                        grid-row-gap: 40px;

                        .cont_frase {
                            height: auto;
                            width: 40vh;
                            padding: 30px;
                            background-color: #2b2b2b;
                            border-radius: 30px;
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                            -webkit-box-shadow: 10px 10px 12px -4px $color_sombra;
                            -moz-box-shadow: 10px 10px 12px -4px $color_sombra;
                            box-shadow: 10px 10px 12px -4px $color_sombra;

                            .author {

                                color: rgb(214, 214, 214);
                                font-style: italic;
                            }

                            .text {
                                color: rgb(204, 204, 204);
                            }
                        }
                    }
                }
            }

            .text_prin {
                padding-left: 2%;
                font-size: 2em;
                color: white;
                font-style: italic;
            }

            #menu_lateral {

                height: auto;
                width: 15%;

                #cont_fixed {
                    padding-top: 20px;
                    height: 100%;
                    width: 15%;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #121212;
                    border-right: 1px solid rgba(134, 134, 134, 0.233);
                    position: fixed;

                    img {
                        height: auto;
                        width: auto;
                    }

                    #cont_item {
                        display: flex;
                        justify-content: center ;
                        align-items: center;
                        flex-direction: column;
                        gap: 40px;
                        height: 70%;
                        width: 80%;

                        list-style: none;

                        a {
                            width: 100%;
                            height: 10%;
                            text-decoration: none;

                            .item {
                                display: flex;
                                justify-content: flex-start;
                                padding-left: 20px;
                                align-items: center;
                                gap: 10px;
                                background-color: #58C885;
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                transition: all .2s ease-in-out;

                                span {
                                    font-weight: bolder;
                                    font-size: 0.9em;
                                    color: white;

                                    height: auto;
                                }

                                i {
                                    color: white;
                                    font-size: 1.2em;
                                }

                                &:hover {
                                    background-color: #419663;
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }

                }
            }

            #cont_main {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                #cont_user {
                    position: absolute;
                    left: 90%;
                    width: auto;
                    height: auto;

                    i {
                        font-size: 1.4em;
                        padding: 10px;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        border-radius: 50%;
                        color: white;

                        &:hover {
                            background-color: #74747436;
                        }
                    }
                }

                #cont_secciones {
                    margin-top: 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    #sec_prin {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        height: 100%;
                        width: auto;
                    }

                    #sec_secu {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 1.8%;
                        gap: 40px;
                        padding: 10px;
                        width: 36%;
                        height: 100%;

                        .btn_sec {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            height: 20vh;
                            width: 22vw;
                            text-decoration: none;
                            border-radius: 30px;
                            font-size: 2em;
                            font-weight: bolder;
                            opacity: 0.5; // Opacidad alta por defecto
                            transition: opacity 0.3s ease-in-out;
                            transition: transform 0.4s ease-in-out;

                            &:hover {
                                transform: scale(1.05);
                                opacity: 1; // Opacidad reducida al pasar el mouse
                            }

                            &#cont_racha {
                                transition: 0.3s;
                                background-color: transparent;
                                border: 1px solid rgba(128, 128, 128, 0.432);

                                &:hover{
                                    transition: 0.3s ease-out;
                                    transform: scale(1.05);
                                    background-color:#46a55f59;
                                    border: #419663 2px solid;
                                }
                                .text_racha {
                                    font-size: 2.4em;
                                    top: 35%;
                                }

                                .text {
                                    color: rgb(146, 146, 146);
                                    font-size: .7em;
                                    top: 70%;
                                }
                            }

                            color: white;

                            span {
                                width: 100%;
                                text-align: center;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                filter: brightness(50%);
                                border-radius: 30px;
                                
                            }

                        }
                    }
                }
            }
        }

        .desac {
            display: none !important;
        }
    }
}
