html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calendario {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  gap: 60px;
}

.container_calendar {
  width: 100%;
  max-width: 500px;
}

.container_calendar .header_calendar {
  width: 100%;
  height: auto;
  background: rgba(100, 231, 135, 0.7882352941);
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  
}

.container_calendar .header_calendar h1 {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 3.5em;
  text-align: left;
  width: 100%;
}

.container_calendar .header_calendar h5 {
  margin: 10px 0 0;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 2em;
  text-align: left;
  width: 100%;
}

.container_calendar .body_calendar {
  width: 100%;
  height: 220px;
  background-color: rgb(37, 35, 35);
  border-radius: 0 0 15px 15px;
}

.container_calendar .container_details {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.container_calendar .container_details .detail_1,
.container_calendar .container_details .detail_2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container_calendar .container_details .detail_1 .detail,
.container_calendar .container_details .detail_2 .detail {
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_calendar .container_details .detail_1 .detail .circle,
.container_calendar .container_details .detail_2 .detail .circle {
  width: 10px;
  height: 10px;
  background: #1C1E26;
  border-radius: 50%;
}

.container_calendar .container_details .detail_1 .detail .column,
.container_calendar .container_details .detail_2 .detail .column {
  width: 80%;
  height: 30px;
  background: #ececec;
  border-radius: 5px;
}

.container_calendar .selected {
  position: relative;
}

.container_calendar .selected:after {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(100, 231, 135, 0.7882352941);
  position: absolute;
  border-radius: 50%;
  border: 5px solid rgba(100, 231, 135, 0.7882352941);
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_calendar .container_change_month {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
  
}

.container_calendar .container_change_month div {
  margin-top: 2px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container_calendar .container_change_month button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2em;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.container_calendar .container_change_month button:hover {
  color: rgba(100, 231, 135, 0.7882352941);
}

.container_calendar .container_weedays {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.container_calendar .container_weedays span {
  color: rgba(100, 231, 135, 0.7882352941);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.container_calendar .week_days_item {
  width: 14.2857142857%;
  text-align: center;
  padding: 2px;
  color: white;
}



.container_calendar .container_days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  
}

.container_calendar .container_days span {
  color: white;
  height: 20px;
  margin: 5px 0;
  
  font-family: Arial, sans-serif;
  position: relative;
  flex-basis: 14.2857142857%;
  text-align: center;
  
}

.container_calendar .container_days .prev_days,
.container_calendar .container_days .next_days {
  opacity: 0.2;
}

.container_calendar .container_days .today {
  position: relative;
}

.container_calendar .container_days .today:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #64E788;
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  border: 5px solid #64E788;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .container_calendar .header_calendar {
    padding: 10px;
  }

  .container_calendar .header_calendar h1 {
    font-size: 2.5em;
  }

  .container_calendar .header_calendar h5 {
    font-size: 1.5em;
  }

  .container_calendar .week_days_item,
  .container_calendar .container_days span {
    flex-basis: calc(14.2857142857% - 10px);
  }
}

@media (max-width: 480px) {
  .container_calendar .header_calendar {
    padding: 5px;
  }

  .container_calendar .header_calendar h1 {
    font-size: 2em;
  }

  .container_calendar .header_calendar h5 {
    font-size: 1.2em;
  }

  .container_calendar .week_days_item,
  .container_calendar .container_days span {
    flex-basis: calc(14.2857142857% - 5px);
  }
}

/*# sourceMappingURL=estilo2.css.map */
#habit_tracker {
  height: auto;
  width: 100%;
  padding: 30px;
  background-color: rgb(37, 35, 35);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.error{
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  color: red;
}



#actividad_hoy{
  width: 95%;
  display: flex;
  color: wheat;
  justify-content: space-between;
}

#actividad_hoy h3{
  color: rgb(218, 218, 218);
  font-size: 1.37rem;
}
#cont_text_main{
  display: flex;
  align-items: center !important;
 
  justify-content: center !important;
}
#cont_text_main h2{
  text-align: start;
  width: auto;
  height: 100%;

}
#habit_tracker #item_list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between; /* Alinea el contenido horizontalmente */
  align-items: flex-start;
  flex-direction: row; /* Mantener las secciones en fila */
  gap: 20px;
}

#cont_text_main, #actividad_hoy {
  display: flex;
  color: rgb(218, 218, 218);
  font-size: 1.28rem;
  align-items: center; /* Alinea los títulos verticalmente */
  flex-direction: row; /* Mantiene los títulos en la misma fila */
}


#habit_tracker #item_list .item input {
 
  accent-color: rgba(100, 231, 135, 0.7882352941);
  /* Cambia el color del checkbox */

}

.item .tachado {
  text-decoration: line-through;
}

#item_list #cont_list{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px ;
  width: 50%;
  height: 90%;
  
}
#item_list  #cont_list li{
  color: rgb(196, 196, 196);

}
#item_list  h3{
  color: rgb(218, 218, 218);
  width: 10vw  ;
  font-size: 1.37rem;

}
#item_list #cont_list #list{
  display: flex;
  gap: 20px ;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

#cont_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  gap: 10px;
}

#item_list #cont_list .item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: rgb(206, 206, 206);
  gap: 10px;
  width: 80%;
}
#agregar {
  
  display: flex;
  flex-direction: column;
  gap: 30px ;
  height: auto;
}

#cont_agregar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#cont_agregar input {
 
  width: 100%;
  color: white;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.651);
}
#cont_agregar #cont_inp {
  width: 100%;
  display: flex;
  gap: 10px;
  color: white;
  border: none;
  
  background-color: transparent;
}
#agregar #btn_enviar_act{
  background-color: #64E788;
  color:  rgb(37, 35, 35);
  width: 70px;
}
#agregar #btn_enviar_act:hover{
  background-color: #3ab95c;
  transition: 0.3s ease-out;
  transform: scale(1.1);
}
 

#cont_agregar #fecha_act {
  width: auto;
  outline: none;
  width: 100%;
}

input:focus {
  outline: none;
  box-shadow: none;
  color: #adadb1;
}

#cont_agregar i {
  color: white;
  font-size: 1.3em;
}

#cont_agregar button {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(138, 136, 136, 0.404);
  cursor: pointer;
  background-color: transparent;
  font-weight: 100;
  color: white;

}
