* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    main {
        #subtitulo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 6%;
            color: white;
            font-size: 25px;
            width: 100%;
            text-align: center;
        }

        #nombre_us {
            color: white;
            font-size: 40px;
            padding-left: 30px;
        }

        .contenedor_profesional {
            margin-top: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: auto;
            align-content: stretch;

            .card {
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: auto;
                width: 30%;
                margin: 10px;
                padding: 20px;
                text-align: center;

                img {
                    width: 50%;
                    height: auto;
                    border-radius: 50%;
                    background-color: white;
                    margin-bottom: 15px;
                }

                .nombre_profesional,
                .profesion {
                    margin: 15px 0 0;
                    width: 100%;
                }

                .profesion {
                    color: #64e788;
                    font-weight: 500;
                    font-size: 18px;
                }

                .contactar,
                .more-info {
                    background-color: white;
                    color: black;
                    border: none;
                    border-radius: 10px;
                    margin-top: 20px;
                    padding: 10px 20px;
                    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        background-color: rgba(255, 255, 255, 0.842);
                    }
                }
            }
        }

    }
}
