@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: #1a1a1a;
  color: #fff;
}

#cont_rutinas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
#cont_rutinas .rutina_item {
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
#cont_rutinas .rutina_item:hover {
  background-color: rgb(61, 61, 61);
}
#cont_rutinas .rutina_item h3 {
  font-size: 1.5em;
  font-weight: 800;
}
#cont_rutinas .rutina_item p {
  font-size: 0.9em;
  color: #f0f0f0;
}
#cont_rutinas .rutina_item a {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(83, 83, 83, 0.847);
  color: white;
  text-decoration: none;
}
#cont_rutinas .cont_recomendaciones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#cont_rutinas .cont_recomendaciones .rutina_item {
  background-color: #56cc75;
}
#cont_rutinas .cont_recomendaciones .rutina_item:hover {
  background-color: #4db669;
}

.cont_recomendaciones {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 40px;
  gap: 30px;
}
.cont_recomendaciones h2 {
  text-align: start;
  width: 100%;
}

.recomendacion_item {
  background-color: #333;
  width: 450px;
  height: 200px;
  border-radius: 20px;
}

.todas_rutinas {
  font-size: 1.7em;
  margin-top: 6%;
}

.rutinas_lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-right: 40px;
}

.rutina_item {
  background-color: #333;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.rutina_item .cont_int {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rutina_item .cont_int h5 {
  text-align: center;
  padding: 8px;
  width: 30%;
  border-radius: 20px;
}
.rutina_item .cont_int .baja {
  background-color: #bbf7d1;
  color: #2c7447;
}
.rutina_item .cont_int .media {
  background-color: rgb(254, 241, 139);
  color: #b2923e;
}
.rutina_item .cont_int .alta {
  background-color: #fecaca;
  color: #a45151;
}

/* Responsivo: 2 columnas para pantallas medianas */
@media (max-width: 768px) {
  .rutinas_lista {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Responsivo: 1 columna para pantallas pequeñas */
@media (max-width: 480px) {
  .rutinas_lista {
    grid-template-columns: 1fr;
  }
}
#cont_rutina_focus {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  height: auto;
  gap: 40px;
}
#cont_rutina_focus .dias {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.247);
  background-color: rgba(17, 27, 46, 0.2117647059);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 20%;
  min-height: 30vh;
  height: auto;
}
#cont_rutina_focus .dias h2 {
  font-size: 1.4em;
  color: #4db669;
  font-weight: bolder;
}
#cont_rutina_focus .dias .cont_text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
#cont_rutina_focus .dias .cont_text .sub_text {
  display: flex;
  gap: 5px;
}

#cont_lista {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
}
#cont_lista .cont_ejercio {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}
#cont_lista .cont_ejercio img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, opacity 1s ease;
  opacity: 0.3;
  -o-object-fit: cover;
     object-fit: cover;
}
#cont_lista .cont_ejercio h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3em;
  font-style: oblique;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
}
#cont_lista .cont_ejercio span {
  position: absolute;
  top: 70%;
  width: 60%;
  left: 50%;
  text-decoration: underline;
  transform: translate(-50%, -50%);
  color: rgba(201, 201, 201, 0.7333333333);
  font-size: 1.5em;
  font-style: oblique;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
}
#cont_lista .cont_ejercio:hover img {
  opacity: 0.7;
  transform: scale(1.1);
}
#cont_lista .cont_ejercio:hover span,
#cont_lista .cont_ejercio:hover h3 {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

#cont_ejercio_focus_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#cont_ejercio_focus {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start !important;
  align-items: flex-start;
  gap: 20px;
}
#cont_ejercio_focus .cont_ejercio {
  background-color: #111b2e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20vw;
  height: auto;
  transition: all 0.2s ease-in-out;
}
#cont_ejercio_focus .cont_ejercio:hover {
  background-color: #141f33;
}
#cont_ejercio_focus .cont_ejercio .cont_text_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}
#cont_ejercio_focus .cont_ejercio .cont_text_header .name {
  font-size: 1.6em;
  color: white;
}
#cont_ejercio_focus .cont_ejercio .cont_text_header .dif {
  padding: 5px;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  background-color: #2663ea;
}
#cont_ejercio_focus .cont_ejercio .cont_text {
  width: 100%;
  padding: 20px;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  height: 45vh;
  overflow: scroll;
}
#cont_ejercio_focus .cont_ejercio .cont_text ul {
  list-style: none;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
#cont_ejercio_focus .cont_ejercio .cont_text ul li {
  color: rgb(199, 197, 197);
  font-size: 0.8em;
  font-weight: 300;
}
#cont_ejercio_focus .cont_ejercio .cont_equip {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #949494;
}

@media (max-width: 768px) {
  .cont_ejercio_focus {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=estilo_ejercio.css.map */