* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$color-primario: #64E788; // verde

.desac {
    display: none !important;
}

body {
    width: 100vw;
    overflow-x: hidden;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgb(37, 35, 35);

        #registro {
            height: auto !important;
            padding-top: 10%;
            width: 100%;
            background-image: url("../resources/file.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;

            justify-content: center;
            align-items: center;
            flex-direction: column;

            &.desac {
                display: none !important;
            }

            #cont_selec {
                #cont_url {
                    width: 100%;
                    height: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    span {
                        background-color: transparent;
                        border: none;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bolder;
                        border-bottom: none;

                        &.activo {
                            border-bottom: 2px solid $color-primario ;
                        }

                    }
                }
            }

            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 35px;
                background-color: transparent;
                height: 100%;
                width: 60%;

                .sub_form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                }



                .desac {
                    display: none;
                }

                &#cont_iniciar {
                    height: 100vh !important;
                }

                .cont_inputs {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;

                    label {
                        width: 60%;
                        text-align: start;
                        color: $color-primario;

                    }

                    select,
                    input {
                        width: 60%;
                        border-radius: 20px;
                        background-color: white;
                        height: 8vh;
                        padding: 10px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        font-size: 1.1em;
                    }
                }


                button {
                    border-radius: 30px;
                    width: 40%;
                    height: 50px;
                    background-color: $color-primario;
                    font-size: 1.1em;
                    font-weight: bolder;
                    border: none;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #46a55f;
                    }
                }

                &#cont_registrar {
                    height: auto;
                    padding-bottom: 20px;

                    #texto_regs {
                        width: 100%;
                        text-align: center;
                        color: rgb(226, 226, 226);

                        font-size: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 0px;
                    }

                    .sub_form {
                        height: 100vh;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;

                        .cont_btn {
                            height: 50px;
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 20px;

                            button {
                                height: 100%;
                                width: 50%;
                            }
                        }

                    }

                    .desac {
                        display: none !important;
                    }
                }
            }
        }

        #ventana_prin {
            width: 100%;
            height: 100vh;
            background-color: #222;
            display: flex;

            #menu_lateral {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                padding-top: 10px;
                height: 100%;
                width: 25%;
                background-color: #121212;

                img {
                    height: auto;
                    width: auto;
                }

                #cont_item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: 40px;
                    height: 70%;
                    width: 80%;
                    background-color: rgba(89, 89, 89, 0.037);
                    list-style: none;

                    .item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #58C885;
                        border-radius: 10px;
                        width: 80%;
                        height: 10%;
                        cursor: pointer;
                        transition: all .2s ease-in-out;

                        span {
                            font-weight: bolder;
                            font-size: 1em;
                            color: white;
                        }

                        &:hover {
                            background-color: #419663;
                            transform: scale(1.05);
                        }
                    }
                }
            }

            #cont_main {
                height: 100%;
                width: 75%;
                padding: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                #nombre_us {
                    font-size: 2em;
                    color: white;
                    font-style: italic;
                }

                #cont_user {
                    position: absolute;
                    left: 90%;
                    width: auto;
                    height: auto;

                    img {
                        height: 50px;
                        width: 50px;
                        padding: 10px;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        border-radius: 50%;

                        &:hover {
                            background-color: #74747436;
                        }
                    }
                }
            }
        }

        .desac {
            display: none !important;
        }
    }
}

//estilos para el calendario

.container_calendar {
    width: 400px;
    height: 550px;
    margin: 5% auto;

}

.header_calendar {
    width: 100%;
    height: 45%;
    background: #64E788;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 30px 30px 0px 30px;
        padding: 0px;
        font-family: Arial;
        color: white;
        font-size: 100px;
    }

    h5 {
        margin: 0px 30px;
        padding: 0px;
        font-family: Arial;
        color: white;
        font-size: 40px;

    }
}

.body_calendar {
    width: 100%;
    height: 55%;
    background-color: rgb(37, 35, 35);
    border-radius: 0px 0px 15px 15px;
}

.container_details {
    width: 100%;
    height: 30px;
    background: #000000;
    position: relative;
    top: -13px;
    display: flex;
    justify-content: space-between;

    .detail_1,
    .detail_2 {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;

        .detail {
            margin: 0px 2px;
            width: 10px;
            height: 100%;

            .circle {
                width: 10px;
                height: 10px;
                background: #1C1E26;
                position: relative;
                top: calc(30px - 10px);
                border-radius: 50%;

                .column {
                    width: 80%;
                    height: 30px;
                    background: #ececec;
                    margin: 0px auto;
                    position: relative;
                    top: -22px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.container_change_month {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.7;

    div {
        color: white;
        height: 20px;
        margin: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        margin: auto 5px;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
    }
}

.container_weedays {
    width: 90%;
    height: 40px;
    display: flex;
    margin: 0px auto;

    span {
        color: #64E788;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100%;
        line-height: 2.5;
    }
}

.week_days_item {
    display: flex;
    margin: auto;
    width: calc(100% / 7);
    justify-content: center;
    cursor: pointer;
    color: white;

}

.week_days_item:hover {
    color: #64E788;
}

.prev_days {
    opacity: 0.2;
}

.container_days {
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;

    span {
        color: white;
        /* background: #000; */
        height: 20px;
        margin: 5px 0px;
        padding: 0px;
        font-family: Arial;

    }

    .today {
        display: flex;
    }

    .today:after {
        content: "";
        width: 19px;
        height: 19px;
        background: #64E788;
        position: absolute;
        border-radius: 50%;
        border: 5px solid #64E788;
        opacity: 0.2;
        margin: -6px -1px 0px 0px;
    }
}